*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{

}


body{
  font-family: "Merriweather", Georgia, serif;
  color: #3b3b3b;
  line-height: 1.9;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
}

h1.category-title{
  font-family: "Merriweather", Georgia, serif;
  font-weight: 900;
}

li.article-list{
  margin: 1.25em 0;
}

div.author, div.publication-date, div.excerpt{
  font-size: 75%;
  margin: 0.25em 1.25em;
  line-height: 1.5em;
}

figcaption{
  font-size: 75%;
}

figure.resource-links{
  font-size: 75%;
}

@media only screen and (max-width: 600px){

}

@media only screen and (max-width: 400px){

}
