---
---
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
}

::selection{
  background-color: #900000;
  color: #ffffff;
}

::-moz-selection{
  background-color: #900000;
  color: #ffffff;
}
.navigation{
  width: 350px;
  background: #08102a url('{{site.baseurl}}/assets/images/nav-bg-dark.jpg') no-repeat right top;
}

.site-title{
  color: white;
  background: transparent url('{{site.baseurl}}/assets/images/nav-site-title-bg-dark.png') no-repeat right top;
  background-clip: border-box;
  border-bottom: 0;
  font-weight: 900;
}

.btn-outline, .btn-outline:hover{
  color: white;
}

.nav-section, .navigation-list, .navigation-list-item{
  color: white;
  font-family: "Helvetica Now", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, "Lucida Grande", sans-serif;
}

.nav-section > .years {
  color: #0095db;
  color: rgb(43, 107, 171);
}

.navigation-list-link{
  color: #cccccc;
}

nav a:hover{
  color: black;
  background-color: white;
}

nav h3.nav-section{
  font-size: 16px !important;
  margin-bottom: 0;
  color: rgb(226, 230, 241);
}

nav h3.nav-section .years{
  font-size: 80%;
  padding-left: 1rem;
}

nav ul.navigation-list{
  padding-left: 1rem;
}

nav ul.navigation-list li.navigation-list-item{
  font-size: 14px !important;
  line-height: 1.2;
  color: rgb(159, 165, 188);
}

.introduction{
  max-width: 1000px;
  padding-bottom: 2em;
}

.introduction > figure{
  width: 300px;
  float: left;
  padding: 0 1em 1em 0;
}

h1.category-title{
  font-family: "Merriweather", Georgia, serif;
  font-weight: 900;
}

figure.author-date{
  margin: 0.5em 0;
}

figure.author-date div.author,
figure.author-date div.publication-date{
  text-align: right;
  font-size: 75%;
  line-height: 1em;
}

div.excerpt{
  font-size: 75%;
  margin: 0.25em 1.25em;
  line-height: 1.5em;
}

article.document-container p.author{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
}

nav h3{
  font-size: 60%;
}

.page-content figure.resource-links{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 75%;
  margin-top: 4em;
  padding-left: 2em;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  -ms-word-break: break-all !important;
  word-break: break-word !important;
}

.page-content figure.pic-left, figure.pic-center, figure.pic-right{
  width: 250px;
  margin: 0;
}

.page-content figure.pic-left{
  float: left;
  padding: 0 1em 0.5em 0;
}

.page-content figure.pic-center{
  width: 80%;
  max-width: 800px;
  min-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5em;
}

.page-content figure.pic-right{
  float: right;
  padding: 0 0 0.5em 1em;
}

.page-content figure img{
  width: 100%;
}

.page-content figure figcaption{
  font-size: 75%;
  line-height: normal;
}

.page-content blockquote.boxed{
  float: left;
  width: 250px;
  margin: 1em 2em;
}

.page-content blockquote.boxed::before{
  font-size: 4.5em;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
  margin-top: 1em;
  margin-left: -0.4em;
  content: "\201C"
}

.page-content blockquote.boxed p{
  margin-top: -2.5em;
  font-size: 120%;
  font-style: italic;
  margin-bottom: 0;
}

div.page-content article.document-container h3{
  font-weight: bold;
  margin-top: 2em;
}

blockquote.indented{
  margin-left: 2em;
  padding-left: 2em;
}

@media only screen and (max-width: 600px){

  blockquote.indented{
    margin-left: 1em;
    padding-left: 1em;
  }

}

@media only screen and (max-width: 360px){
  .page-content figure.pic-left, .page-content figure.pic-right, .page-content figure.pic-center{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .page-content blockquote.boxed::before{
    margin-left: -0.1em;
  }

  .page-content blockquote.boxed{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
  }

  .page-content blockquote.boxed p{
    text-align: center;
  }

  blockquote.indented{
    margin-left: 1em;
    padding-left: 1em;
  }

  .page-content figure.resource-links{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 75%;
    margin-top: 4em;
    padding-left: 0;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    -ms-word-break: break-all !important;
    word-break: break-all !important;
    word-break: break-word !important;
  }
}
