---
---
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
}

::selection{
  background-color: #900000;
  color: #ffffff;
}

::-moz-selection{
  background-color: #900000;
  color: #ffffff;
}
.navigation{
  width: 350px;
  background: #122c79 url('{{site.baseurl}}/assets/images/nav-bg.jpg') no-repeat right top;
}

.site-title{
  color: white;
  background: transparent url('{{site.baseurl}}/assets/images/nav-site-title-bg.png') no-repeat right top;
  background-clip: border-box;
  border-bottom: 0;
  font-weight: 900;
}

.btn-outline, .btn-outline:hover{
  color: white;
}

.nav_section, .navigation-list, .navigation-list-item{
  color: white;
}

.nav_section > .years {
  color: #0095db;
}

.navigation-list-link{
  color: #cccccc;
}

nav a:hover{
  color: black;
  background-color: white;
}

nav h3.nav_section{
  font-size: 14px !important;
  margin-bottom: 0;
}

nav h3.nav_section .years{
  font-size: 80%;
  padding-left: 1rem;
}

nav ul.navigation-list{
  padding-left: 1rem;
}

nav ul.navigation-list li.navigation-list-item{
  font-size: 12px !important;
  line-height: 1.2;
}

h1.category-title{
  font-family: "Merriweather", Georgia, serif;
  font-weight: 900;
}

div.author, div.publication-date, div.excerpt{
  font-size: 75%;
  margin: 0.25em 1.25em;
  line-height: 1.5em;
}

figcaption{
  font-size: 75%;
}

figure.resource-links{
  font-size: 75%;
}

nav h3{
  font-size: 60%;
}

@media only screen and (max-width: 600px){

}

@media only screen and (max-width: 400px){

}
