*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
  --maxwidth: 600px;
}

#newsletter{
        height: 100%;
        margin: 0 auto;
        padding: 40px 0px 0px 0px;
        max-width: var(--maxwidth);
}

#newsletter header{
        max-width: var(--maxwidth);
        font-family: Helvetica;
        color: #202020;
        font-size: 34px;
        font-weight: bold;
        line-height: 100%;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        vertical-align: middle;
        background-color: #000000;
}

#newsletter header figure{
        margin: 0px;
        max-width: 300px
}

#newsletter header figure img{
        display: block;
        width: 100%;
}

#newsletter header figure figcaption {
        color: #ffd700;
        font-size:18px;
        font-weight: bold;
        text-decoration: none;
        margin: 0px;
        padding-bottom: 20px;
        text-align: center;
}

#newsletter article{
        max-width: var(--maxwidth);
        padding-left: 20px;
        padding-right: 20px;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-left: 20px;
        border-right: 20px;
        padding-bottom: 40px;
        color: #202020;
        text-align: left;
        background-color: white;
}

#newsletter article figure{
        margin: 0px;
//      border: 1px solid lightgray;
        padding: 5px;
}

#newsletter article figure figcaption{
        border: 0px;
        font-size: 80%;
        line-height: 100%;
}

#newsletter article img{
        margin-top: 5px;
        margin-bottom: 10px;
}

#newsletter article figure img{
        border: 0px;
        width: 100%;

}

#newsletter article .align-center{
        display: block;
        margin-left: auto;
        margin-right: auto;
}

#newsletter article .align-left{
        float: left;
        margin-right: 10px;
}


#newsletter article .align-right{
        float: right;
        margin-left: 10px;
}

#newsletter h1, .h1{
        color: #C52E26;
        display: block;
        font-family: Georgia;
        font-size: 30px;
        font-weight: normal;
        line-height: 100%;
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        text-align: center;
}

#newsletter h2, .h2{
        color: #C52E26;
        display: block;
        font-family: Georgia;
        font-size: 15px;
        font-weight: normal;
        line-height: 125%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        text-align: left;
}

#newsletter h2#subheading{
        text-align: center;
}

#newsletter h2.subheading{
        text-align: center;
}

#newsletter h2#References{
        font-family: Verdana;
        color: black;
        margin-top: 2em;
        margin-bottom: 0em;
        border-bottom: 1px solid #a2a9b1;
        padding-top: 0.5em;
        padding-bottom: 0.17em;
}

#newsletter h3, .h3{
        color: #202020;
        display: block;
        font-family: Georgia;
        font-size: 14px;
        font-weight: normal;
        line-height: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        text-align: left;
}

#newsletter h4, .h4{
        color: #202020;
        display: block;
        font-family: Verdana;
        font-size: 13px;
        font-weight: normal;
        line-height: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        text-align: left;
}

#newsletter #article-date{
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 20px;
        text-align: center;
}

#newsletter #first-paragraph{
        margin-top: 40px;
}

#newsletter #author{
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-style: italic;
}

#newsletter .author{
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-style: italic;
}

#newsletter .authors-title{
        font-weight: normal;
}

#newsletter ol.references{
        font-size: 85%;
        margin-top: 0em;
        margin-bottom: 0.5em;
        padding-top: 0em;
        line-height: 140%;
}

#newsletter ol.references > li{
        margin: 0.5em 0;
}

#newsletter .margintop30{ margin-top: 30px }
#newsletter .maxwidth17{ max-width: calc( var(--maxwidth)*.17 ) }  /* 102px (assumming max-width is 600px) */
#newsletter .maxwidth25{ max-width: calc( var(--maxwidth)*.25 ) }  /* 150px (assumming max-width is 600px) */
#newsletter .maxwidth30{ max-width: calc( var(--maxwidth)*.30 ) }  /* 180px (assumming max-width is 600px) */
#newsletter .maxwidth33{ max-width: calc( var(--maxwidth)*.33 ) }  /* 198px (assumming max-width is 600px) */
#newsletter .maxwidth35{ max-width: calc( var(--maxwidth)*.35 ) }  /* 210px (assumming max-width is 600px) */
#newsletter .maxwidth42{ max-width: calc( var(--maxwidth)*.42 ) }  /* 252px (assumming max-width is 600px) */
#newsletter .maxwidth45{ max-width: calc( var(--maxwidth)*.45 ) }  /* 270px (assumming max-width is 600px) */
#newsletter .maxwidth50{ max-width: calc( var(--maxwidth)*.50 ) }  /* 300px (assumming max-width is 600px) */
#newsletter .maxwidth55{ max-width: calc( var(--maxwidth)*.55 ) }  /* 330px (assumming max-width is 600px) */
#newsletter .maxwidth60{ max-width: calc( var(--maxwidth)*.60 ) }  /* 360px (assumming max-width is 600px) */
#newsletter .maxwidth66{ max-width: calc( var(--maxwidth)*.66 ) }  /* 396px (assumming max-width is 600px) */
#newsletter .maxwidth70{ max-width: calc( var(--maxwidth)*.70 ) }  /* 420px (assumming max-width is 600px) */
#newsletter .maxwidth80{ max-width: calc( var(--maxwidth)*.80 ) }  /* 480px (assumming max-width is 600px) */
#newsletter .maxwidth90{ max-width: calc( var(--maxwidth)*.90 ) }  /* 540px (assumming max-width is 600px) */
#newsletter .maxwidth100{ max-width: calc( var(--maxwidth) ) }     /* 600px (assumming max-width is 600px) */


#newsletter footer{
        height: 100px;
        padding: 20px 10px 40px 10px;
        background-color: #ECEAD4;
}

@media only screen and (max-width: 600px){
        #newsletter{
                padding: 0px;
        }

        #newsletter header figure figcaption {
                font-size:16px;
                padding-bottom: 10px;
                text-align: center;
        }

}

@media only screen and (max-width: 400px){
        #newsletter article .align-left{
                float: none;
                display: block;
                margin-left: auto;
                margin-right: auto;
                min-width: 85vw;
        }

        #newsletter article .align-right{
                float: none;
                display: block;
                margin-left: auto;
                margin-right: auto;
                min-width: 85vw;
        }

        #newsletter article .align-center{
                float: none;
                display: block;
                margin-left: auto;
                margin-right: auto;
                min-width: 85vw;
        }
}
